@media (max-width: 1864px) {
	h1 {
		width: 80%; } }


@media (max-width: 1670px) {
  .container {
  	margin: 0 160px;
  	.site-types {
  			font-size: 20px; } }
  .more-info {
    margin-left: 160px;
    padding: 100px 160px 100px 128px;
    &.reverse {
      padding-left: 160px;
      margin-right: 160px;
      margin-left: 0px; } }
  h1 {
      font-size: 46px; }
  h2 {
      font-size: 32px; }
  .form {
      width: 80%; } }

@media (max-width: 1460px) {
	h1 {
		width: 98%;
		font-size: 45px; }
	.main_nav {
	  .nav-wrapper {
	    width: 100%;
	    padding-left: 7%;
	    padding-right: 7%; } }
	.container {
		margin: 0 100px; }
	.video-with-margin {
		margin-top: 100px; }
	.more-info {
		margin-left: 100px;
		padding: 100px 100px 100px 100px;
		&.reverse {
          padding-left: 100px;
          margin-right: 100px;
          margin-left: 0px; } }
	.price {
		font-size: 30px; }
	.big-p {
		font-size: 30px; }
	.buttons {
		width: 60%; }
	.strip {
		margin-left: calc(50vw - 300px); }
	.strip__item {
		padding-right: calc(50vw - 300px);
		&.last__item {}
		padding-right: calc(40vw - 300px); }
	.portfolio-item-h1, .about-h1 {
		font-size: 116px; }
	.img-outer {
		width: 600px;
		height: 340px; }
	.thank-you-screen {
		padding-top: 5vh;
		padding-left: 100px;
		padding-right: 100px;
		p {
			margin-top: 50px; }
		.button {
			margin-top: 50px; }
		.social-media {
			margin-top: 60px; } } }





@media (max-width: 1240px) {
	h1 {
		font-size: 46px; }
	h2 {
		font-size: 32px; }

	.h1_description {
		font-size: 20px; }

	.button {
		font-size: 20px; }
	p, h3 {
  		font-size: 20px; }
	.contacts-a {
  		font-size: 18px; }
	.container {
		padding-top: 100px;
		.site-types {
			font-size: 20px; }
		&.last {
			padding-bottom: 100px; } }
	.contacts-footer {
		.form-screen {
			.container {
				padding-top: 100px;
				padding-bottom: 100px; } } }
	.cols-item-number {
		font-size: 50px; }

	.more-info {
		margin-top: 100px; }
	.strip {
		margin-left: 15vw; }
	.strip__item {
		padding-right: 15vw;
		&.last__item {
			padding-right: 15vw; } } }






@media (max-width: 1140px) {
	.main_nav {
	  .nav-wrapper {
	    width: 100%;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: flex-start;
	    font-size: 24px;
	    .nav-item {
	    	margin-top: 40px;
	    	p {
	    		font-size: 18px; } } } }
	h1 {
		font-size: 40px; }
	.button {
		font-size: 20px; }
	.viewport {
		position: relative;
		z-index: 2; }
	.img-inner {
		top: 0;
		left: 0;
		transform: none; }
	.service-item {
		margin-top: 72px;
		.button {
			position: relative;
			margin-top: 0px;
			bottom: 0;
			right: 0; } }
	.service-item-left {
		width: 100%; }
	.service-item-right {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 36px; }
	.service-item-flex {
		flex-direction: column;
		align-items: flex-start; }
	.buttons {
		width: 80%; }
	.portfolio-item-h1, .about-h1 {
		font-size: 96px; }
	.white-block {
		width: 100%; }
	.visualizer-wrapper {
		display: none; }
	.big-img, .cover-img {
		background-attachment: scroll; }
	.case-wrapper {
		pointer-events: none;
		z-index: -1;
		canvas {
			pointer-events: none;
			user-select: none;
			touch-action: auto !important; } }
	.fullsize {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px; }
	.error-number {
		font-size: 200px; }
	.first-msg {
		font-size: 24px; }
	.second-msg {
		font-size: 20px; } }



@media (max-width: 840px) {
	.main_nav {
	  .nav-wrapper {
	    width: 100%;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: flex-start;
	    font-size: 24px;
	    .nav-item {
	    	margin-top: 40px;
	    	p {
	    		font-size: 18px; } } } }
	h1 {
		font-size: 25px;
		text-transform: none;
		width: 60%; }
	h3 {
		width: 100%; }

	.h1_description {
		font-size: 20px; }
	.big-p {
		font-size: 24px; }

	.button {
		font-size: 20px;
		margin-top: 30px; }
	.img-outer {
		height: 300px;
		width: calc(100vw - 80px); }
	.strip {
		margin-left: 40px;
		margin-top: -20px; }
	.container {
		.site-types {
			align-items: flex-start;
			flex-direction: column;
			li {
				margin-top: 16px;
				&:nth-child(1) {
					margin-top: 0px; } } }
		&.phone-container {
    		margin-right: 0px; } }
	.cols {
		margin-top: 60px;
		flex-direction: column;
		&.form {
			flex-direction: column;
			.l-col {
				width: 100%; }
			.r-col {
				width: 100%;
				margin-top: 0px; } } }
	.form {
		width: 100%; }
	.l-col {
		width: 100%; }
	.r-col {
		width: 100%;
		margin-top: 24px; }
	.more-info {
		margin-left: 0px;
		&.reverse {
          margin-right: 0px; } }
	.cols-item {
		width: 100%;
		margin-top: 24px;
		&:nth-child(1) {
			margin-top: 0px; }
		&:nth-child(3) {
			margin-top: 24px; }
		&:nth-child(4) {
			margin-top: 24px; } }
	.portfolio-item-h1 {
		font-size: 56px; }
	.about-h1 {
		font-size: 50px; }
	.phone-wrapper {
   		justify-content: space-between;
   		align-items: center;
   		overflow-x: scroll;
   		.phone-mockup {
      		max-width: none;
      		width: auto;
      		height: 350px;
      		&._2, &.mob-2 {
         	padding-left: 20px;
         	margin-top: 0px; }
      		&._3, &.mob-3 {
         	padding-left: 20px;
         	margin-top: 0px;
         	padding-right: 20px; } } }
	.portfolio-nav {
   		flex-direction: column;
   		.next {
   			margin-top: 40px; } }
	.white-block {
   		.p-tek {
   			width: 70%; } }
	.contacts-wrapper {
   		flex-direction: column;
   		.left-col, .right-col {
   			width: 100%; } }
	.contacts-wrapper {
   		margin-top: 10px; }
	.contacts-item {
   		margin-top: 40px;
   		h3 {
   			margin-top: 0px; }
   		.contacts-a {
   			margin-top: 10px; } }
	// .contacts-btn
 } //   		display: none


@media (max-width: 652px) {
	h1 {
		width: 100%; }
	.error-msg {
		width: 92%; }
	.error-number {
		font-size: 100px; }
	.first-msg {
		font-size: 22px; }
	.second-msg {
		font-size: 18px; }
	.service-item, .faq-item {
		margin-top: 48px;
		h2 {
			line-height: 1.3em; } }
	.services-h1, .faq-h1, .contacts-h1 {
		text-transform: uppercase;
		font-size: 26px; }
	.services-wrapper, .faq-wrapper {
		margin-top: 48px; }
	.price {
		font-size: 20px; }
	.button {
		font-size: 16px;
		margin-top: 60px;
		&.small {
			font-size: 16px; } }
	#awwwards {
			display: none; }
	#awwwards-2 {
		display: block !important;
		top: 13% !important;
		transform: scale(0.7) !important;
		right: -10px !important;
		svg, a {
			display: block; } }
	#cssawards {
		display: none !important; } }

@media (max-width: 460px) {
	.main_nav {
	  .nav-wrapper {
	    width: 100%;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: flex-start;
	    font-size: 18px;
	    .nav-item {
	    	margin-top: 30px;
	    	p {
	    		font-size: 18px; } } } }

	.main_nav .nav-wrapper .nav-item a .number {
		display: none; }

	h1 {
		width: 94%;
		font-size: 22px;
		text-transform: none; }


	.h1_description {
		font-size: 16px; }

	.navbar {
		padding-right: 0px;
		padding-left: 24px;
		top: 0px;
		mix-blend-mode: difference; }

	.logo {
		svg {
			display: block; } }

	.social {
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		display: none;
		a {
			&:nth-child(1) {
				svg {
					margin-left: 0px; } } } }

	.img-outer {
		width: calc(100vw - 80px);
		&.portfolio-item {
			width: 100%; } }
	.strip {
		margin-left: 40px;
		transition: none; }

	.strip__item {
		padding-right: 40px;
		&.last__item {
			padding-right: 40px; } }

	.strip-after {
		flex-direction: column;
		justify-content: center;
		align-items: center; }
	.strip-link {
		margin-top: 20px;
		font-size: 16px; }
	.strip-after {
		margin-top: 25px; }
	.strip__item-name {
		font-size: 24px; }
	.strip__item-number {
		display: none; }
	h2 {
		font-size: 24px; }
	h3 {
		font-size: 18px; }
	p {
  		font-size: 16px; }
	.contacts-a {
  		font-size: 16px; }
	.container {
		padding-top: 48px;
		margin: 0 20px;
		.site-types {
			font-size: 16px;
			margin-top: 32px; }
		&.last {
			padding-bottom: 48px;
			.cols {
				margin-top: 0px; } }
		&.services, &.faq, &.contacts {
			padding-top: 100px;
			.cols {
				margin-top: 0px; } } }
	.contacts-footer {
		.form-screen {
			.container {
				padding-top: 48px; } }
		h3 {
			margin-top: 16px; } }
	.cols-item-number {
		font-size: 36px; }
	.video-with-margin {
		margin-top: 48px; }

	.more-info {
		margin-top: 48px;
		padding: 40px 20px;
		.button {
			margin-top: 24px; }
		&.reverse {
			padding: 40px 20px; } }
	.cols {
		margin-top: 32px; }
	.dif-h2 {
		font-size: 18px; }
	.form-screen p {
		font-size: 16px; }
	.form-wrapper {
		padding-top: 32px;
		padding-bottom: 48px; }
	.input-wrapper {
		margin-top: 32px;
		&.first {
			margin-top: 0px; } }
	.label-content {
		font-size: 14px; }
	.checkbox span:last-child {
		font-size: 12px; }
	.form-button {
		font-size: 18px; }
	.buttons {
		width: 100%;
		flex-direction: column;
		margin-top: 32px;
		.button {
			&:nth-child(2) {
				margin-top: 24px; } } }
	.portfolio-item-h1 {
		font-size: 45px; }
	.about-h1 {
		font-size: 40px; }
	.white-block {
		flex-direction: column;
		padding: 32px 20px;
		p, .p-tek, .grplast-p {
			width: 100%;
			text-align: center; }
		a {
			margin-top: 16px;
			font-size: 16px; } }

	.form-pop-up {
		padding-left: 20px;
		padding-right: 20px; }
	.big-p {
		font-size: 20px; }
	.thank-you-screen {
		padding-top: 5vw;
		padding-left: 20px;
		padding-right: 20px;
		p {
			width: 100%; } }
	.faqs-wrapper {
		h2 {
			font-size: 20px; } }
	.faq-button img {
		width: 25px; }

	.swipe-text {
		display: none; }
	.swipe {
		bottom: auto;
		top: 20px; }
	.h3-founders {
  		margin-top: 5px !important; }
	.not-full {
  		height: 50vh; }
	.contacts-btn:hover .contacts-btn__contacts-menu {
		padding-left: 15px;
		padding-right: calc(15px + 48px);
		width: 275px; }
	.contacts-btn__contacts-menu__link {
		margin-left: 15px; } }

@media (max-width: 365px) {
	h1 {
		font-size: 18px; }
	.splitter {
    	white-space: nowrap; }

	.img-outer {
    	height: 180px; }
	.strip {
    	margin-top: 0px; }
	.about-h1 {
    	font-size: 32px; }
	.portfolio-item-h1 {
  		font-size: 36px; }
	.strip__item-name {
		font-size: 22px; } }
