:root {
  --hm: 90px;
}

$accent-color: #A03ADB;
$dark-color: #131116;
$dark-color-2: #111014;
$main-margin-l: 13.5vw;
$main-margin-t: 160px;

$maxWidth: 1920;
$minWidth: 375;

$cp: size(260, 20);
$hm: var(--hm);